body {
  background: #2d3436;
  font-family: "Cairo", sans-serif;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content {
  color: white;
}
#result {
  display: block;
  text-align: center;
}
